.boardContainer{
   display: flex;
   flex: 1;
      flex-direction: column;

}

.board{
   background-color: red;
   position: relative;
   flex-direction: column;
   flex: 1;
}

.dashBoard{
   display: flex;
   flex-direction: column;
   flex: 1;
   background-color: blue;
}