.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}


.logo{
    color: orange;
    font-weight: bold;
    font-size: 22px;
}